<!DOCTYPE html>
<html lang="en">

<head>

	<title>Home Page</title>

	<link rel="stylesheet" href="/css/deshboard.css">
	<link rel="stylesheet" href="responsive.css">
	<style>
		table {
			border-collapse: collapse;
			width: 100%;
			border: 1px solid black;
			background-color: rgb(239, 215, 183);
		}

		th,
		td {
			text-align: left;
			padding: 8px;
			border: 1px solid #ddd;
		}

		th {
			background-color: #f2f2f2;
		}

		.bookTitle {
			border: none;
		}
	</style>

</head>

<body>

	<!-- for header part -->
	<header>

		<div class="logosec">
			<div class="logo">LittleFreeLibrary</div>
			<img src="/images/MenuLogo.png" alt="Logo" class="icn menuicn" id="menuicn" alt="menu-icon">
		</div>


		<div class="searchbar">
			<input type="text" placeholder="Search">
			<div class="searchbtn">
				<img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180758/Untitled-design-(28).png"
					class="icn srchicn" alt="search-icon">
			</div>
		</div>

		<div class="message">
			<div class="circle"></div>
			<img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183322/8.png" class="icn" alt="">
			<div class="dp" onclick="window.location.href='/user/profile'">
				<img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180014/profile-removebg-preview.png"
					class="dpicn" alt="dp">
			</div>
		</div>

	</header>

	<div class="main-container">
		<div class="navcontainer">
			<nav class="nav">
				<div class="nav-upper-options">
					<div class="nav-option option1">
						<img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210182148/Untitled-design-(29).png"
							class="nav-img" alt="dashboard">
						<h3> Dashboard</h3>
					</div>

					<div class="option2 nav-option" onclick="window.location.href='/dashboard/articles'">
						<img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183322/9.png"
							class="nav-img" alt="articles">
						<h3> Articles</h3>
					</div>

					<div class="nav-option option3" onclick="window.location.href='/dashboard/reports'">
						<img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183320/5.png"
							class="nav-img" alt="report">
						<h3> Report</h3>
					</div>

					<div class="nav-option option4">
						<img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183321/6.png"
							class="nav-img" alt="institution">
						<h3> Institution</h3>
					</div>

					<div class="nav-option option5" onclick="window.location.href='/user/profile'">
						<img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183323/10.png"
							class="nav-img" alt="blog">
						<h3> Profile</h3>
					</div>

					<div class="nav-option option6">
						<img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183320/4.png"
							class="nav-img" alt="settings">
						<h3> Settings</h3>
					</div>

					<div class="nav-option logout">
						<img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183321/7.png"
							class="nav-img" alt="logout">
						<h3 onclick="window.location.href='/userlogout'">Logout</h3>
					</div>

				</div>
			</nav>
		</div>
		<div class="main">

			<div class="searchbar2">
				<input type="text" name="" id="" placeholder="Search">
				<div class="searchbtn">
					<img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180758/Untitled-design-(28).png"
						class="icn srchicn" alt="search-button">
				</div>
			</div>

			<div class="box-container">

				<div class="box box1" onclick="window.location.href='/bookCard'">
					<div class="text">
						<h2 class="topic-heading">60.5k</h2>
						<h2 class="topic">Article Views</h2>
					</div>

					<img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210184645/Untitled-design-(31).png"
						alt="Views">
				</div>

				<div class="box box2">
					<div class="text">
						<h2 class="topic-heading">150</h2>
						<h2 class="topic">Likes</h2>
					</div>

					<img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210185030/14.png" alt="likes">
				</div>

				<div class="box box3">
					<div class="text">
						<h2 class="topic-heading">320</h2>
						<h2 class="topic">Comments</h2>
					</div>

					<img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210184645/Untitled-design-(32).png"
						alt="comments">
				</div>

				<div class="box box4">
					<div class="text">
						<h2 class="topic-heading">70</h2>
						<h2 class="topic">Published</h2>
					</div>

					<img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210185029/13.png" alt="published">
				</div>
			</div>


			<div class="report-container">
				<div class="report-header">
					<h1 class="recent-Articles">Book's</h1>
					<div class="toggleBtn">
						<button class="view" onclick="viewLess()">^</button>
						<button class="view" onclick="viewAll()">v</button>
					</div>
				</div>

				<div class="report-body">
				<% if (books && books.length> 0) { %>
						<table>
							<tbody class="tablebody">
								<% books.forEach(function(book) { %>
								 <tr class="item1">
									<div class="tableDivFirst">
										<td class="t-op-nextlvl" >
											
											<form action="/bookCard" method="POST">
												<input type="hidden" name="bookData" value='<%= JSON.stringify(book) %>'>
												<button type="submit" class="tdtag tdtitle">
													<%= book.title %>
												</button>
											</form>
											
										
										</td>
									</div>
									<div class="tableDivSecond">
										
										<!-- <td class="t-op-nextlvl label-tag">Available </td> -->
										<td class="t-op-nextlvl">
											<form action="/issueBook" method="POST">
												<input type="hidden" name="bookTitle" value="<%= book.title %>">
												<button type="submit" class="issueBtn">Issue</button>
											</form>
										</td>
									</div>
									</tr>
									<% }); %>
							</tbody>
						</table>

						<% } else { %>
							<p>No books found</p>
							<% } %>
				</div>
			</div>
		</div>
	</div>
	</div>





</body>

</html>

<!-- <form action="/bookCard" method="POST">
												<input type="hidden" name="bookData" value='<%= JSON.stringify(bookData) %>'>
												<button type="submit" class="tdtag tdtitle">
													<%= book.title %>
												</button>
											</form> -->



												<!-- <form action="/bookCard" method="POST">
												<input type="hidden" name="bookTitle" value="<%=bookData%>">
												<button type="submit" class="tdtag tdtitle">
													<%= book.title %>
												</button>
											</form> -->